<span class="container">
    <app-back-button [backPage]="'./users'">
    </app-back-button>
    <div class="content">
        <form #form="ngForm" (submit)="onSubmit(form)">
            <input type="hidden" name="id" [value]="userService.formData.id" />
            <div class="input-label">
                Meno:
            </div>
            <input name="first_name" type="text" class="form-control" placeholder="Krstné meno"
                [(ngModel)]="userService.formData.first_name" #first_name="ngModel" />
            <div class="input-label">
                Priezvisko:
            </div>
            <input name="last_name" type="text" class="form-control" placeholder="Priezvisko"
                [(ngModel)]="userService.formData.last_name" #last_name="ngModel" />
            <div>
                <button class="btn btn-light" type="submit">
                    <span class="d-none d-lg-inline">
                        Odoslať
                    </span>
                </button>
            </div>
        </form>
    </div>
</span>