.icon {
  height: 2rem;
}

.link {
  color: black;
  text-align: center;
  text-decoration: none;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.content {
  position: absolute;
  right: 2%;
  top: 2%;
}

.header {
  color: gray;
  position: absolute;
  margin-top: 5rem;
  left: 20%;
  text-align: left;
}

.label {
  width: 20rem;
}

.form-control {
  border-radius: 4px;
  border-color: grey;
  margin-bottom: 0.5rem;
}

.container {
  width: 95%;
  height: 95%;
  font-size: 20px;
}

.header {
  color: gray;
  position: absolute;
  margin-top: 5rem;
  left: 20%;
  text-align: left;
}

.icons {
  height: 16px;
}

.search-content {
  position: absolute;
  top: 2%;
  left: 50%;
}

.label {
  width: 20rem;
}

.list-user {
  position: absolute;
  margin-top: 7rem;
  left: 20%;
  text-align: left;
}

.btn-none {
  background-color: white;
  border: 0;
}

.search {
  width: 15rem;
}
