.custom-select {
  width: 15rem;
  font-size: 12px;
}

.btn-light {
  width: 6rem;
  background: #c8cfd6;
  border: 2px solid #c1c9d0;
  box-sizing: border-box;
  border-radius: 2px;
  font-size: 12px;
  margin-top: 0.5rem;
}
