<form [formGroup]="entityForm">
    <select class="custom-select" formControlName="book">
        <option [ngValue]="null">
            Vyberte si prosím knihu ktorú chcete vrátiť
        </option>
        <option *ngFor="let b of books" [ngValue]="b">
            {{ b.book_name }}
        </option>
    </select>
    <button class="btn btn-light" (click)="submit()">
        <a class="link">
            <span class="d-none d-lg-inline">
                Odoslať
            </span>
        </a>
    </button>
</form>