.input-label {
  color: lightslategrey;
  font-size: 16px;
}

.form-control {
  border-radius: 4px;
  border-color: grey;
  margin-bottom: 0.5rem;
}

.link {
  color: black;
  text-align: center;
  text-decoration: none;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.content {
  position: absolute;
  left: 50%;
  top: 5%;
}

.btn-light {
  width: 6rem;
  background: #c8cfd6;
  border: 2px solid #c1c9d0;
  box-sizing: border-box;
  border-radius: 2px;
  font-size: 12px;
  margin-top: 0.5rem;
}
