<span class="container">
    <app-back-button [backPage]="'./books'">
    </app-back-button>
    <div class="content">
        <form [formGroup]="entityForm" *ngIf="entityForm">
            <div class="input-label">
                Meno autora:
            </div>
            <input name="autor_first_name" type="text" class="form-control" formControlName="autor_first_name"
                [(ngModel)]="entity.autor_first_name" (input)="entity.autor_first_name = $event.target.value" />
            <div class="input-label">
                Priezvisko autora:
            </div>
            <input name="autor_last_name" type="text" class="form-control" formControlName="autor_last_name"
                [(ngModel)]="entity.autor_last_name" (input)="entity.autor_last_name = $event.target.value" />
            <div class="input-label">
                Názov knihy:
            </div>
            <input name="book_name" type="text" class="form-control" formControlName="book_name"
                [(ngModel)]="entity.book_name" (input)="entity.book_name = $event.target.value" />
            <div>
                <button class="btn btn-light" (click)="submit($event, entity)">
                    <a class="link">
                        <span class="d-none d-lg-inline">
                            Odoslať
                        </span>
                    </a>
                </button>
            </div>
        </form>
    </div>
</span>